<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    
    <!-- 메시지 출력 -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>
    </form>
    <a href="{% url 'social:begin' 'kakao' %}?next={{ request.path }}">카카오 로그인</a>
    <a href="{% url 'password_reset' %}">비밀번호 찾기</a>
</body>
</html>
